<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Styles/CustomStyles.css" rel="stylesheet" />
    <style>
        body 
        {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
          overflow: hidden;
          background-color: #333;
        }

        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align:initial;
          padding: 5px 5px;
          text-decoration: none;
          font-size: 5px;
        }
        .topnav h3 {
          float: left;
          color: #f2f2f2;
          text-align:initial;
          padding: 5px 5px;
          text-decoration: none;
          font-size: 30px;
        }
        .btn-in
        {
            background-color:coral;
        }

    </style>
</head>
<body>
    @*<div class="topnav">
            <center>
                <p class="h2 text-white-50" style="padding:5px">Expense Planner</p>
            </center>
        </div>*@
    <div class="topnav">
        <div>
            <a class="btn btn-dark" href="/Home/Firstpage" >Home</a>
            <a class="btn btn-primary" href="/Home/ProposeNewBudget">Create New Report</a>
            <a class="btn btn-secondary" href="/Home/Draft">Drafts</a>
                <h3 class="text-white-50" >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Expense Planner
                </h3>

           
            
            <a class="btn btn-success" href="/Home/Logout"  style="float:right; background:  #750112;color:white">Logout</a>
            <a class="btn btn-in"  href="/Home/Profile1" style="float:right; background: #007d1b;color:white">Profile</a>
        </div>
       
    </div>

 


    <div>
        @RenderBody()
    </div>
</body>
</html>
