body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    
    background-color: #333;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
.customDiv {
    margin: 3px;
    min-height: 50px;
    background-color: silver;
    text-align: center;
    font-size: large
}

.customDiv1 {
    margin: 3px;
    min-height: 150px;
    max-height: 200px;
    text-align: center;
    font-size: large
}

.customDiv2 {
    margin: 3px;
    min-height: 100px;
    max-height: 400px;
    text-align: center;
    font-size: large
}

.customDiv3 {
    margin: 3px;
    min-height: 150px;
    max-height: 200px;
    text-align: center;
    font-size: large
}

.inputWidth1 {
    max-width: 300px;
    min-height: 40px;
    padding-left: 100px;
}

.inputWidth2 {
    max-width: 300px;
    min-height: 40px;
    text-align: center;
}

.buttons {
    padding: 5px;
    margin: 10px;
   margin-left:40px;
    min-width: 150px;
    max-width:200px;
}

/*.category_bg {
    background-color: #f2cbe5;
    color: #000000;
}

.category_bgbutton {
    background-color: #7a0c56;
    color: snow;
}*/

